@inherits EditPatientBase
@page "/editpatient/{id}"
<div class="row">
    <div class="col-sm-10">
    </div>
    <div class="col-sm-2 text-right">
        <a style="text-underline-position:below; cursor:pointer; color:#0056b3;" @onclick="@ViewProfile">Profile</a> |
        <a href="/patients">Back</a>
    </div>

</div>

<div class="row">
    <div class="col-md-6">

        @if (Patient == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <EditForm Model="Patient" OnValidSubmit="SubmitForm">
                <DataAnnotationsValidator />
                @*<ValidationSummary />*@

                <div class="form-group row">
                    <label for="patientName" class="col-sm-4 col-form-label">
                        Name
                    </label>
                    <div class="col-sm-8">
                        <InputText id="patientName" class="form-control" placeholder="Patient Name"
                                   @bind-Value="Patient.PatientName" />
                        <ValidationMessage For="@(()=>Patient.PatientName)"></ValidationMessage>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="age" class="col-sm-4 col-form-label">
                        Age
                    </label>
                    <div class="col-sm-8">
                        <InputNumber id="age" class="form-control" placeholder="Age"
                                     @bind-Value="Patient.Age" />
                        <ValidationMessage For="@(()=>Patient.Age)"></ValidationMessage>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mobileNumber" class="col-sm-4 col-form-label">
                        Mobile Number
                    </label>
                    <div class="col-sm-8">
                        <InputText id="mobileNumber" class="form-control" placeholder="Mobile Number"
                                   @bind-Value="Patient.MobileNumber" />
                        <ValidationMessage For="@(()=>Patient.MobileNumber)"></ValidationMessage>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fullAddress" class="col-sm-4 col-form-label">
                        Address
                    </label>
                    <div class="col-sm-8">
                        <InputTextArea id="fullAddress" class="form-control" placeholder="Full Address"
                                       @bind-Value="Patient.FullAddress" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="patientHistory" class="col-sm-4 col-form-label">
                        History
                    </label>
                    <div class="col-sm-8">
                        <InputTextArea id="patientHistory" class="form-control" placeholder="History"
                                       @bind-Value="Patient.PatientHistory" />
                        <ValidationMessage For="@(()=>Patient.PatientHistory)"></ValidationMessage>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="complain" class="col-sm-4 col-form-label">
                        Complain
                    </label>
                    <div class="col-sm-8">
                        <InputTextArea id="complain" class="form-control" placeholder="Complain"
                                       @bind-Value="Patient.Complain" />
                        <ValidationMessage For="@(()=>Patient.Complain)"></ValidationMessage>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="rxTreatment" class="col-sm-4 col-form-label">
                        Rx(Treatment)
                    </label>
                    <div class="col-sm-8">
                        <InputTextArea id="rxTreatment" class="form-control" placeholder="RxTreatment"
                                       @bind-Value="Patient.RxTreatment" />
                        <ValidationMessage For="@(()=>Patient.RxTreatment)"></ValidationMessage>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nextAppointmentDate" class="col-sm-4 col-form-label">
                        Next Visit
                    </label>
                    <div class="col-sm-8">
                        <InputDate id="nextAppointmentDate" class="form-control" placeholder="Next Appointment Date"
                                   @bind-Value="Patient.NextAppointmentDate" />
                        <ValidationMessage For="@(()=>Patient.NextAppointmentDate)"></ValidationMessage>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fees" class="col-sm-4 col-form-label">
                        Fees
                    </label>
                    <div class="col-sm-8">
                        <InputNumber id="fees" class="form-control" placeholder="Fees"
                                     @bind-Value="Patient.Fees" />
                        <ValidationMessage For="@(()=>Patient.Fees)"></ValidationMessage>
                    </div>
                </div>
                <button type="submit">Submit</button>
            </EditForm>
        }
    </div>
    <div class="col-md-6">
        <PatientProfile Visible="@VisibilityText" Id="@Id"></PatientProfile>
    </div>
</div>